/* Add CSS here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
/*===== VARIABLES CSS =====*/

:root {
    --h1-fs: 2rem;    --h1-fs-media: 3rem; 
    --h2-fs: 1.5rem;  --h2-fs-media: 2rem;
    --h3-fs: 1.3rem;  --h3-fs-media: 1.8rem;
    --h4-fs: 1.1rem;  --h4-fs-media: 1.5rem;
    --p-fs: .8rem;    --p-fs-media: 1.1rem;
    --a-fs: .7rem;    --a-fs-media: 1.1rem;
    --li-fs: .7rem;   --li-fs-media: 1.1rem;    

    --clr-bg-main: #a0c9f8;
    --clr-bg-pri: #121637;
    --clr-bg-sec: #b4d4fb;
    --clr-acc-main: #00bea6;
    --clr-acc-pri: #4393f5;
    --clr-acc-sec:  #3676c4;
    --clr-acc-thi: #2e67a9;
    --clr-acc-four: #ad0000;
    --clr-acc-fif: #e03333;
    --clr-text-main: #67696a;
    --clr-text-pri: #36454F;  
    
    --shadow-color: #33cbb8;    
    --main-ff: 'Poppins', sans-serif;
  }

/*===== BASE =====*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-ff);
    font-size: var(--p-fs);
    background: var(--clr-bg-main);
    color: var(--clr-text-main);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}   

h1, h2, h3, h4,
p, a, li {
    margin: 0;
}

h1 {font-size: var(--h1-fs);}
h2 {font-size: var(--h2-fs);}
h3 {font-size: var(--h3-fs);}
h4 {font-size: var(--h4-fs);}

p, a, li {font-size: var(--p-fs);}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-text-main);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);

    }
}
    /* animation: scaleUp 1s ease-in-out;
    transform-origin: center center; */

/*===== BUTTONS =====*/

.btn {
    display: inline-block;
    background-color:  var(--clr-acc-pri);
    color: #fff;
    padding: .5rem 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    transition: .2s;
}

.btn:last-of-type {
    background-color: transparent;
    color: var(--clr-acc-pri);
}
  
.btn:first-of-type:hover {
    background-color: var(--clr-acc-sec);
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

.btn:last-of-type:hover {
    color: var(--clr-acc-thi);
}

.btn:active {
    scale: .97;
}

/*===== PROJECT CSS =====*/

header {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

header form {
    width: 6rem;
    min-width: 250px;
    padding: 0 .8rem;
    height: 3rem;
    border-radius: .3rem;
    border: 1px solid lightgray;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    gap: .5rem;

}

header input[type="text"] {
    border: none;
    width: 100%;
    background-color: transparent;
}

header input[type="text"]:focus {
    outline: none;
}

header form i {
    font-size: 1.1rem;
    cursor: pointer;
}

.dropdown,
.url {
    position: relative;
    border: 1px solid lightgray;
    display: inline-block;
    min-width: 9rem;
    border-radius: .3rem;
    height: 3rem;
}

.dropdown>div,
.url {
    padding: 0 .8rem;
    width: 100%;

}

.dropdown {
    cursor: pointer;
}

.dropdown .link i {
    transition: .3s;
}

.dropdown.active .link i {
    transform: rotate(180deg);
}

.dropdown .link {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: #fff;
    width: 100%;
    padding: .4rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity .15s ease-in-out, transform .15s ease-in-out;
    z-index: 2;
}

.dropdown-menu li {
    padding: .5rem;
    cursor: pointer;
}

.dropdown-menu li.active {
    display: none;
}


.dropdown.active>.link+.dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.check-form {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: .3rem 0;
    width: max-content;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 24px;
    min-width: 24px;
    width: 24px;
    background-color: #fff;
    border: 1px solid lightgray;
    transition: .3s;
    border-radius: .25rem;
  }

  .check-form:hover input ~ .checkmark {
    background-color: #eee;

  }
  
  .check-form input:checked ~ .checkmark {
    border: 1px solid lightgray;
  }
  
  
  .check-form input:checked ~ .checkmark:after {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .check-form .checkmark:after {
    content: "";
    position: absolute;
    transition: .3s;
    left: 50%;
    top: 50%;
    width: 16px;
    height: 16px;
    background: var(--clr-acc-sec);
    transition: .5s;
    transform: translate(-50%, -50%) scale(0);
}

.check-form .checkmark:after, .checkmark {
    border-radius: 50%;
}

.card {
    margin: 2rem;
    width: 400px;
    background-color: #fff;
    border-radius: .5rem;
    padding: 1.5rem;
    box-shadow: 0 16px 20px 12px var(--clr-acc-thi);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: auto;
}

.card .box {
    width: 4rem;
    height: 4rem;
    background-color: var(--clr-acc-pri);
    border-radius: .3rem;
}

.card h4 {
    margin: 1rem 0;
}

.card .tags {
    margin: 1rem 0;
}

.card .tags span {
    background-color: var(--clr-bg-sec);
    padding: .2rem .5rem;
    border-radius: 1rem;
}

  [data-star] {
    text-align: left;
    font-style: normal;
    font-size: 1.3rem;
    display: inline-block;
    position: relative;
    unicode-bidi: bidi-override;
}

[data-star]::before {
    display: block;
    content: '★★★★★';
    color: var(--clr-bg-sec);
}

[data-star]::after {
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    width: 0;
    color: var(--clr-acc-fif);
    color: orange;
    overflow: hidden;
    height: 100%;
}


[data-star^="5.0"]::after{width: calc(4.5/5*100%)}


.tag {
    display: flex;
}

.reviews {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 970px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .card {
        margin: 1rem auto;
    }
    
}

